<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE web-app>
<web-app>

	<display-name>
		Exam today
	</display-name>

	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>servlet.Inscription</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscribe</url-pattern>
	</servlet-mapping>

	

</web-app>